* {
    margin: 0;
    padding: 0;
    font-family: 'Arial';
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    background: #f2f6fb;
    min-height: 100vh;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

.disable_select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.massage_container {
}

.massage_grid {
    display: grid;
}

.massage_hidden_input {
    width: 0px;
    height: 0px;
    opacity: 0;
}

.header * {
    text-align: center;
}

.inline_container {
    display: inline-block;
}

.selection_chip * {
    color: #444;
}

.selection_chip .container {
    background: #ffffff;
    border: solid 1px #191919;
    border-radius: 5px;
}

.selection_chip:hover * {
    color: #222;
}

.selection_chip:hover .container {
    background-color: #ececec;
    cursor: pointer;
}

.selection_chip input:checked * {
    color: #222;
}

.selection_chip input:checked ~ .container {
    background-color: #dedede;
    color: #222;
}

.container {
    padding: 25px;
}

.appointment_container {
    display: flex;
}

.appointment_container > div {
}

.therapist_container {
    margin-right: 25px;
}

.customer_container {
    margin-bottom: 100px;
}

.customer_form {
    display: flex;
    margin-top: 25px;
}

.input {
    padding: 15px;
    background: #dedede;
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 125px;
    margin-right: 15px;
}

.submit_button {
    padding: 15px;
    background: #1e6ecf;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.submit_button:hover {
    background: #005dce;
}