* {
    margin: 0;
    font-family: "Roboto Flex", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    background: #f2f6fb;
    min-height: 100vh;
    padding: 2.5%;
    /*align-items: center;*/
    justify-content: center;
}

.disable_select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page_header * {
    text-align: center;
}

.massage_grid {
    display: flex;
    flex-direction: column;
}

.massage_hidden_input {
    width: 0px;
    height: 0px;
    opacity: 0;
}

.header {
    font-size: 2rem;
    font-weight: 500;
}

.chip_title {
    font-size: 1.2rem;
    font-weight: 500;
}

.massage_description {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1.5%;
}

.inline_container {
    display: inline-block;
}

.selection_chip * {
    color: #444;
}

.selection_chip .container {
    background: #ffffff;
    padding: 3%;
    border: solid 1px #191919;
    border-radius: 5px;
}

/*.selection_chip .container {
    background: #ffffff;
    padding: 3.5vh;
    border: solid 1px #191919;
    border-radius: 5px;
}*/

.selection_chip:hover * {
    color: #222;
}

.selection_chip:hover .container {
    background-color: #ececec;
    cursor: pointer;
}

.selection_chip input:checked * {
    color: #222;
}

.selection_chip input:checked ~ .container {
    background-color: #dedede;
    color: #222;
}

.appointment_container {
    display: flex;
}

.therapist_container {
    margin-right: 25px;
}

.select_therapist_container .container {
    padding: 7%;
}

.date_time_container {
    width: inherit
}

.customer_container {
    margin-bottom: 100px;
}

.customer_form {
    display: flex;
    margin-top: 25px;
}

.input {
    background: #dedede;
    border: none;
    border-radius: 5px;
    margin-right: 15px;
    /*height: 8.5vh;*/
    height: 55px;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1rem;
}

.submit_button {
    padding: 15px;
    background: #1e6ecf;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.submit_button:hover {
    background: #005dce;
}